@model CatalogoViewModel

<div class="container">
    <!--Filtros-->
    <div class="shop-toolbar mb-15">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6 col-5 mt--35">
                <div class="product-view-mode">
                    <a class="sortting-btn" href="#" data-target="list"><i class="fas fa-list"></i></a>
                    <a href="#" data-target="grid" class="sortting-btn  active"><i class="fas fa-th"></i></a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-3 col-md-6 col-7">
                <div class="sorting-selection row">
                    <form method="get">
                        <select asp-for="@Model.MarcaFiltroSelecionado"
                                asp-items="@Model.Marcas"
                                class="form-control col-lg-6 col-6"></select>
                        <select asp-for="@Model.TipoFiltroSelecionado"
                                asp-items="@Model.Tipos"
                                class="form-control col-lg-4 offset-lg-2 col-6"></select>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Lista catálogo itens-->
    <div class="shop-product-wrap grid with-pagination row">
        @foreach (var Item in Model.Itens)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-30">
                <partial name="_Item" for="@Item" />
            </div>
        }
    </div>

    <!--Paginação-->
    <partial name="_paginacao" for="@Model.PaginaInfo" />

</div>
